<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Minecraft_Server_Wrapper.ServerWrapper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Minecraft_Server_Wrapper.ServerWrapper>
      <setting name="ServerPath" serializeAs="String">
        <value>...\server.jar</value>
      </setting>
      <setting name="ServerRAM" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="ServerForceOnlineMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunServerOnStartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TitleBarColor" serializeAs="String">
        <value>50, 50, 128</value>
      </setting>
      <setting name="DefaultOutputColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="WarningOutputColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ErrorOutputColor" serializeAs="String">
        <value>255, 64, 64</value>
      </setting>
      <setting name="ShowWarningOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowErrorOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForegroundOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BackgroundSkin" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayerEventOutputColor" serializeAs="String">
        <value>150, 190, 255</value>
      </setting>
      <setting name="ServerLoadingDoneColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="Notes" serializeAs="String">
        <value />
      </setting>
    </Minecraft_Server_Wrapper.ServerWrapper>
  </userSettings>
</configuration>